:root {
  --font1: "Fraunces", serif;
  --font2: "Barlow", sans-serif;
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: #25564b;
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font2);
}

.container {
  padding: 80px 0;
  width: 90%;
  margin: 0 auto;
}

/* Hero */

.hero {
  background-image: url(images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
}

.nav {
  padding: 30px 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

.nav__links{
    display: none;
}

.hero__main {
  height: 450px;
  color: #fff;
  text-align: center;
}

.hero__title {
  font-size: 2.5rem;
  font-family: var(--font2);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

/* Services */

.services {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 250px 400px);
}

.services__image {
  background-image: url(images/mobile/image-transform.jpg);
  background-size: cover;
  background-position: center;
}

.services__texts {
  place-self: center;
  padding: 1rem 1.5rem;
  text-align: center;
  --color: rgb(81, 81, 10);
}
.services__texts--2 {
  --color: hsl(7, 99%, 70%);
}

.services_title {
  font-size: 2rem;
  font-family: var(--font1);
  color: var(--very-dark-desaturated-blue);
}

.services__paragraph {
  line-height: 1.5;
  color: var(--very-dark-grayish-blue);
  margin: 1.5rem 0;
}

.services__cta {
  color: var(--very-dark-desaturated-blue);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font1);
  position: relative;
}

.services__cta::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
  border-radius: 2em;
  background-color: var(--color);
}

.service_image--2 {
  background-image: url(images/mobile/image-stand-out.jpg);
}

/* Jobs */
.jobs {
  display: grid;
  grid-auto-rows: 550px;
}

.jobs__section {
  display: grid;
  align-content: end;
  background-position: center;
  background-size: cover;
  background-image: url(images/mobile/image-graphic-design.jpg);
  padding: 2.5rem;
  text-align: center;
  color: var(--dark-moderate-cyan);
}

.jobs__section--second {
  background-image: url(images/mobile/image-photography.jpg);
  color: var(--dark-blue);
}

.jobs__name {
  font-family: var(--font1);
  font-size: 1.7rem;
}

.jobs__paragraph {
  line-height: 1.5;
  margin-top: 1rem;
}

/* Testimonials */

.testimonials {
  text-align: center;
  padding: 1rem 1.5rem;
}

.testimonials__title {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--very-dark-grayish-blue);
  font-family: var(--font1);
}

.testimonials__container {
  padding: 60px 0;
  display: grid;
  gap: 4rem;
}

.testimonials__img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials__paragraph {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  margin: 1.5rem;
}

.testimonials__name {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--font1);
  margin-bottom: 0.7rem;
}

.testimonials__job {
  color: var(--grayish-blue);
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__image {
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url(images/mobile/image-gallery-milkbottles.jpg);
  background-size: cover;
  background-position: center;
}

.gallery__image:nth-of-type(2) {
  background-image: url(images/mobile/image-gallery-orange.jpg);
}
.gallery__image:nth-of-type(3) {
  background-image: url(images/mobile/image-gallery-cone.jpg);
}
.gallery__image:nth-of-type(4) {
  background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
}

/* Footer */

.footer {
  background-color: #90d4c5;
  text-align: center;
}

.footer__logo {
  width: 200px;
}

.footer__nav {
  width: 90%;
  max-width: 400px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  color: var(--dark-moderate-cyan);
  text-decoration: none;
  padding: 1.5rem 0 3rem;
}

.footer__social {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

/* MediaQueries */

@media (min-width: 768px) {
  .hero {
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
  }

  .nav_hamburger{
    display: none;
  }

  .nav__links{
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    align-items: center;
  }

  .nav__link{
    text-decoration: none;
    color: var(--white);
  }
  
  .nav__link--cta{color: var(--dark-blue);
    background-color: var(--white);
    padding: -7em 1.5em ;
    border-radius: 2em;

  }
  .hero__main {
    height: 450px;
    color: #fff;
    text-align: center;
  }
  .hero__title {
    font-size: 2.5rem;
    font-family: var(--font1);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 1rem;
  }
}
